.medicornerLogo1,
.navBar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.navBar {
    height: 100.67%;
    right: 0;
    bottom: -0.67%;
    border-bottom: 1px solid var(--color-gray-100);
    box-sizing: border-box;
}
.medicornerLogo1 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.medicornerLogo {
    position: absolute;
    height: 30.67%;
    width: 7.41%;
    top: 36%;
    right: 88.88%;
    bottom: 33.33%;
    left: 3.71%;
    font-size: 15px;
}
.findDoctor,
.labTest,
.medicines,
.vedioConsult {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    flex-shrink: 0;
}
.findDoctor {
    font-size: 12px;
    width: 88px;
}
.labTest,
.medicines,
.vedioConsult {
    width: 96px;
}
.labTest,
.medicines {
    width: 71px;
}
.labTest {
    width: 62px;
}
.navlinks {
    position: absolute;
    height: 26.67%;
    width: 36.1%;
    top: 36%;
    right: 49.81%;
    bottom: 37.33%;
    left: 14.08%;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 22px;
    font-size: var(--font-size-2xs);
}
.forCorporates,
.forProviders,
.securityHelp {
    position: absolute;
    height: 100%;
    width: 30.38%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forProviders,
.securityHelp {
    width: 27.22%;
    left: 36.71%;
}
.securityHelp {
    width: 29.75%;
    left: 70.25%;
}
.dropBoxes {
    position: absolute;
    height: 22.67%;
    width: 23.42%;
    top: 38.67%;
    right: 14.23%;
    bottom: 38.67%;
    left: 62.34%;
    color: var(--color-darkslategray);
}
.buttonChild {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid rgba(30, 30, 30, 0.5);
    box-sizing: border-box;
}
.loginsignUp {
    position: absolute;
    height: 41.94%;
    width: 78.43%;
    top: 29.03%;
    left: 10.78%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    position: absolute;
    height: 41.33%;
    width: 7.56%;
    top: 29.33%;
    right: 3.71%;
    bottom: 29.33%;
    left: 88.73%;
    color: #787;
}
.navbarSection {
    align-self: stretch;
    position: relative;
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    height: 75px;
    flex-shrink: 0;
}
.desktop1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-3xs);
    color: var(--color-black);
    font-family: var(--font-poppins);
}
