/** @format */

.search-container {
    display: flexbox;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

input[type='text'],
select {
    padding: 0px;
    border-radius: 4px;
    border: 1px solid;
    width: 400px;
    height: 30px;
}

button[type='submit'] {
    background-color: #1285ddda;
    color: rgba(9, 12, 9, 0.89);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type='submit']:hover {
    background-color: #73a4d1;
}
