.search-bar {
    width: 75%;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
}
.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.search-bar button {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar button:hover {
    background-color: #e6e6e6;
}
