@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-3xs: 10px;
    --font-size-2xs: 11px;

    /* Colors */
    --color-gray-100: #1e1e1e;
    --color-darkslategray: #414146;
    --color-black: #000;
}
